<%= content_for(:head) do %>
<% end %>

<% unless @messages.empty? %>
    <div id="messages_right" style="width:20%">
      <%= render :partial => 'messages' %>
    </div>
<% end %>


<div class="projects_wrapper">
  <div class="everything">
    <ul>
      <% @projects.each do |p| %>
        <li>
          <div class="project_dots"><%= render :partial => 'dashboards/history', :locals => {:project => p} %></div>
          <div class="project_title"><%= p.name %></div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="projects" <%= 'style="width:80%"' unless @messages.empty? %> >
    <ul>
      <% @red_projects.each do |project| %>
        <li class="<%= project.red? ? 'red' : 'blue' %>"><%= project.name %></li>
      <% end %>
    </ul>
  </div>
</div>